<center><table width="50%" height="50%" style="border-collapse: collapse;">
	<tr>
		<th style="border-right: solid; border-bottom: solid; width:200px; height:200px;">
			<center>
				<p id="spot1">
					<font size="7"><%= board.setup[0]%>
					</font>
				</p>
			</center>
		</th>
		<th style="border-bottom: solid; width:200px; height:200px;">
			<center>
				<p id="spot2">
					<font size="7"><%= board.setup[1]%></font>
				</p>
			</center>
		</th>
		<th style="border-left:solid; border-bottom:solid; width:200px; height:200px;">
			<center>
				<p id="spot3">
					<font size="7"><%= board.setup[2]%></font>
				</p>
			</center>
		</th>
	</tr>
	<tr>
		<th style="border-right:solid; border-bottom:solid; width:200px; height:200px;">
			<center>
				<p id="spot4">
					<font size="7"><%= board.setup[3]%></font>
				</p>
			</center>
		</th>
		<th style="border-bottom:solid; width:200px; height:200px;">
			<center>
				<p id="spot5">
					<font size="7"><%= board.setup[4]%></font>
				</p>
			</center>
		</th>
		<th style="border-left:solid; border-bottom:solid; width:200px; height:200px;">
			<center>
				<p id="spot6">
					<font size="7"><%= board.setup[5]%></font>
				</p>
			</center>
		</th>
	</tr>
	<tr>
		<th style="border-right:solid; width:200px; height:200px;">
			<center>
				<p id="spot7">
					<font size="7"><%= board.setup[6]%></font>
				</p>
			</center>
		</th>
		<th style="width:200px; height:200px;">
			<center>
				<p id="spot8">
					<font size="7"><%= board.setup[7]%></font>
				</p>
			</center>
		</th>
		<th style="border-left:solid; width:200px; height:200px;">
			<center>
				<p id="spot9">
					<font size="7"><%= board.setup[8]%></font>
				</p>
			</center>
		</th>
	</tr>
</table></center>

<center><br>
	<form method ="post" action="move">

		<select name="choice">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
		</select>

	<br><br>
	
		<input type="submit" value="Submit">
	</form>
</center>