<%= board.setup%>
<%= session[:pl1].class%>
<%= session[:pl2].class%>
<%= session[:choice]%>


<center><table border="1" width="50%" height="50%">
	<tr>
		<th><p id="spot1"><%= board.setup[0]%></p></th>
		<th><p id="spot2"><%= board.setup[1]%></p></th>
		<th><p id="spot3"><%= board.setup[2]%></p></th>
	</tr>
	<tr>
		<th><p id="spot4"><%= board.setup[3]%></p></th>
		<th><p id="spot5"><%= board.setup[4]%></p></th>
		<th><p id="spot6"><%= board.setup[5]%></p></th>
	</tr>
	<tr>
		<th><p id="spot7"><%= board.setup[6]%></p></th>
		<th><p id="spot8"><%= board.setup[7]%></p></th>
		<th><p id="spot9"><%= board.setup[8]%></p></th>
	</tr>
</table></center>

<center><br>
	<form method ="post" action="move">

		<select name="choice">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
		</select>

	<br><br>
	
		<input type="submit" value="Submit">
	</form>
</center>